.menu {
    border-color: blue;
    border-radius: 20px;
}
ul{
text-align: center;
}
li{
    font-size: 30px;
    display: inline-block;
    flex-direction: row;
    padding: 20px;
}
h1{
    text-align: center;
}

/*Header*/
header {
    padding: 0;
    text-align: center;
    background-color: transparent; }
    header .fondoEncabezado {
      background-color: #ffffff;
      display: block; }
      header .fondoEncabezado .fotoEncabezado {
        width: 30%;
        margin: -10%; }
  
  /*NAV*/
  .bg-light {
    background-color: #ffe867 !important; }
  
  .navbar-toggler {
    background-color: #046ccc; }
  
  .navbar-collapse {
    justify-content: space-evenly; }

  .imgCarrito {
    height: 100px;
    width: 100px;
  }

  .navbar-brand {
    font-size: 2.25rem;
  }